/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/out
/.repl
*.log
/.env
/.sass-cache
/node_modules
/.shadow-cljs/
/resources/public/js/
.cpcache
.clj-kondo
.lsp
.vscode
.DS_Store
resources/backend
resources/frontend/js
