@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.body-container {
  /* background-image: url('/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px; */
  /* backdrop-filter: blur(10px);
  margin-bottom: 0px;
  padding: 10px; */
  font-family: 'Montserrat', Arial, sans-serif;
  color: black;
  line-height: 1.8em;
  margin: 0px;

  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;

  width: 100vw;
  height: 100vh;
}

/* ------------------- right card properties -------------------- */
.button-right {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 120px;
  width: 120px;

  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 4px 4px 50px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);

}



.about-me-text{
  height: 300px;
  width: 750px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 71px;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 4px 4px 50px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}


.right-card {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 200px;
  padding-left: 260px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


/* ------------------- title properties -------------------- */

.max-width-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.title{
  padding-top: 360px;
  font-size: 128px;
  color: #DADADA;
}


.subtitle{
  padding-top: 100px;
  font-size: 32px;
  color: #DADADA;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
