@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');




/* -------------------*/



.body-container {
  /* background-image: url('/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px; */
  /* backdrop-filter: blur(10px);
  margin-bottom: 0px;
  padding: 10px; */
  font-family: 'Montserrat', Arial, sans-serif;
  color: black;
  line-height: 1.8em;
  margin: 0px;

  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;

  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
}

/* ------------------- mobile card -------------------- */
.mobile-card-row{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.mobile-card-title{
  font-size: 28px;
}

.mobile-card{
  height: 320px;
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 4px 4px 50px 10px rgb(0 0 0 / 25%);
  backdrop-filter: blur(10px);
}


.mobile-inner-text{
  color: #dadada;
  height: 280px;
  width: 180px;
  font-size: 15px;
  line-height: 20px;
}





.mobile-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  height: 70px;
  width: 70px;

  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 4px 4px 50px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);

  cursor: pointer;
  transition: 1s ease;
  transform: scale(1);
}

/* .mobile-button:hover {
  background-color: rgba(255, 255, 255, 0.70);
  transform: scale(1.1);
  transition: 1s ease;
} */

.mobile-button:active {
  transform: scale(0.9);
  transition: 0.1s ease;
  background-color: rgba(255, 255, 255, 0.70);
}




/* ------------------- footer -------------------- */
.footer {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 360px;

  border-radius: 71px;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 4px 4px 50px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.contact-button{
  cursor: pointer;
  transition: 1s ease;
  transform: scale(1);
}

.contact-button:hover{
  transform: scale(1.1);
  transition: 1s ease;

}

.contact-button:active{
  transform: scale(0.9);
  transition: 0.1s ease;
}




/* ------------------- card titles -------------------- */

/*--- title shadow ---*/
.title-shadow{
  text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
/*-------------------*/

/* .my-hobbies{
  color: #5f252599;
  font-size: 33px;
  height: 35px;
  width: 206px;
  padding-left: 20px;
  white-space: nowrap;
}



.my-goals{
  color: #5f252599;
  font-size: 33px;
  height: 20px;
  width: 180px;
}
 */


.left-card-title{
  color: #5f252599;
  font-size: 33px;
  height: 40px;
  width: 180px;
  padding-left: 35px;
}


.right-card-title{
  color: #5f252599;
  font-size: 33px;
  height: 20px;
  width: 185px;
}

/* ------------------- left card properties -------------------- */
.inner-text{
  color: #dadada;
  height: 230px;
  width: 650px;
  font-size: 28px;
  line-height: 32px;
}


.button-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100px;
  width: 100px;

  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 4px 4px 50px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);

  cursor: pointer;
  transition: 1s ease;
  transform: scale(1);
}

.button-left:hover{
  background-color: rgba(255, 255, 255, 0.70);
  transform: scale(1.1);
  transition: 1s ease;

}

.button-left:active{
  transform: scale(0.9);
  transition: 0.1s ease;
}



.card{
  height: 300px;
  width: 750px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 71px;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 4px 4px 50px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}


.left-card-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 100px;
  padding-right: 310px;

  display: flex;
  align-items: center;
}



/* ------------------- right card properties -------------------- */
.inner-text{
  color: #dadada;
  height: 230px;
  width: 650px;
  font-size: 28px;
  line-height: 32px;
}


.button-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100px;
  width: 100px;

  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 4px 4px 50px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);

  cursor: pointer;
  transition: 1s ease;
  transform: scale(1);
}

.button-right:hover{
  background-color: rgba(255, 255, 255, 0.70);
  transform: scale(1.1);
  transition: 1s ease;

}

.button-right:active{
  transform: scale(0.9);
  transition: 0.1s ease;
}



.card{
  height: 300px;
  width: 750px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 71px;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 4px 4px 50px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}


.right-card-row {
  /* display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 100px; */
  /* padding-left: 360px; */

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* ------------------- card container -------------------- */

.card-container{
  /* height: 2000px; */
  padding-top: 380px;
  padding-bottom: 40px;

  /* display: grid;
  grid-template-rows: : repeat(5, 400px);
  gap: 380px; */
}

/* ------------------- title properties -------------------- */

.max-width-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.title{
  padding-top: 360px;
  font-size: 128px;
  color: #DADADA;
}


.subtitle{
  padding-top: 100px;
  font-size: 32px;
  color: #DADADA;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* ------------------- loading screen -------------------- */
.loading-animation{
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  opacity: 0;
  filter: blur(10px);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
     }
}


/*------------------------*/
h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}


/* ------------------- @media -------------------- */
@media screen and (min-width: 360px) and (max-width: 765px) {
  .example-card {
    background: #bada55;
  }

  .max-width-container {
    max-width: 360px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title{
    padding-top: 260px;
    font-size: 50px;
    color: #DADADA;
  }
  .subtitle{
    padding-top: 100px;
    font-size: 20px;
    color: #DADADA;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}




@media screen and (min-width: 480px) and (max-width: 900px) {
  .example-card {
    background: #fff;
  }
}

@media screen and (min-width: 900px) and (max-width: 1500px) {
  .example-card {
    background: #000;
  }
}
